DATABASE_URL="postgresql://postgres:postgres_password@localhost:5432/wedding_db?schema=public"
REDIS_URL="redis://localhost:6379"
S3_ENDPOINT="http://localhost:9000"
S3_REGION="us-east-1"
S3_ACCESS_KEY="minioadmin"
S3_SECRET_KEY="minioadminpassword"
S3_BUCKET_NAME="wedding-assets"
NEXT_PUBLIC_S3_PUBLIC_URL="http://localhost:9000/wedding-assets"
NEXTAUTH_SECRET="your-super-secret-key-32-chars-min"
NEXTAUTH_URL="http://localhost:3000"
